<div class="col-lg-4 reset-left-padding">
  <div class="panel panel-default">
    <div class="panel-heading">
        <b> <%= post.title %> </b>
        <span class="pull-right">
          <% if user_signed_in? && post.user_id == current_user.id %>
            <%= link_to edit_post_path(post) do %>
              <i class="fa fa-edit"></i>
            <%end%> |
            <%= link_to post, method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="fa fa-times-circle"></i>
            <%end%>
          <% end %>
        </span>
    </div>
    <div class="panel-body">
      <p>
        <%= truncate(post.description, :length => 150) %>
      </p>
      <%= link_to 'Read More', post_path(post), :class => 'btn btn-default' %>
    </div>
  </div>
</div>
