<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.author %></td>
        <td>
          <%= truncate(post.description, :length => 100, :omission => '... %s') % (link_to ' Read More', post_path(post)) %>
        </td>
        <% if user_signed_in? && post.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
  <% end %>
  </tbody>
</table>