<%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <label> Category </label>
      <%= f.select(:category_id, AuthForum::Category.all.collect {|cat| [cat.name, cat.id]}, {:prompt => 'Select Product Category'}, {:class => 'form-control'}) %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <div class="form-group">
      <%= f.label :price %><br>
      <%= f.number_field :price, :class => 'form-control', :style => 'width: 100%;' %>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn btn-default" %>
    </div>
<% end %>

