<!DOCTYPE html>
<html lang="en">
<head>
  <title>AuthForum</title>
  <%= stylesheet_link_tag 'auth_forum/application', media: "all" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag 'auth_forum/application' %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container">
  <!-- Static navbar -->
  <%= render 'auth_forum/shared/nav_header' %>
  <!-- Main component for a primary marketing message or call to action -->
  <div class="main-content">
    <%= yield %>
  </div>
</div> <!-- /container -->
</body>
</html>
