<%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <label>Product </label>
      <%= f.select(:product_id, AuthForum::Product.all.collect {|cat| [cat.title, cat.id] unless cat.event.present?}.compact, {:prompt => 'Select Product'}, {:class => 'form-control selectpicker'}) %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit :class => "btn btn-default" %>
    </div>
<% end %>

